@import "center_menu";

.container {
  .center_main {
    padding: 60px;
    h4 {
      font-size: 24px;
      color: $blue;
      margin-bottom: 20px;
      font-weight: normal;
    }
    p {
      padding-left: 20px;
      >span {
        display: inline-block;
        width: 500px;
        margin-bottom: 20px;
        color: $fontcolor;
        b {
          color: #6b6b6b;
        }
      }
      a {
        font-size: 14px;
        &:hover {
          color: $blue;
        }
      }
    }
    .table {
      th {
        background-color: #f2f2f2;
        font-weight: normal;
        font-size: 16px;
        color: $fontcolor;
        line-height: 32px;
        border-bottom: 0;
      }
      td {
        font-size: 14px;
        color: #919191;
        line-height: 40px;
      }
      .active td {
        color: $fontcolor;
      }
    }
    .tc, .money {
      padding-bottom: 60px;
      padding-top: 60px;
      border-bottom: 1px solid #e8e8e8;
      > h4 {
        float: left;
      }
      .am-g {
        padding-left: 100px;
        text-align: center;
        p{
          padding-left: 0;
        }
        .p1 {
          font-size: 18px;
          color: $fontcolor;
          margin-bottom: 20px;
        }
        .p2 {
          font-size: 14px;
          color: #919191;
        }
        a{
          margin-top: 14px;
        }

      }
    }
    .money{
      padding-top: 0;
      padding-bottom: 0;
      position: relative;
      >h4{
        display: inline-block;
        padding-right: 42px;
        background-color: #fff;
        position: absolute;
        top: 186px;
      }
      .money_web{
        padding-top: 60px;
        padding-bottom: 60px;
        a:first-of-type{
          margin-top: -10px;
        }
        .title_sm{
          font-size: 18px;
          color: $blue;
        }
      }
      .money_web:first-of-type{
        border-bottom: 1px solid #e8e8e8;
      }

    }
    .safe{
      padding-top: 60px;
      padding-bottom: 60px;
      .am-g{
        padding-top: 35px;
        padding-bottom: 35px;
        border-bottom: 1px dashed #ddd;
        .am-u-md-2{
          padding-top: 10px;
        }
        .safe_i{
          text-align: center;
          padding-top: 0;
          i{
            display: inline-block;
            width: 34px;
            height: 28px;
            background: url("../images/no.png") no-repeat center center;
          }
        }
        .safe_p{
          font-size: 20px;
          color: #3c3c3c;
        }
        .safe_msg{
          font-size: 14px;
          color: #919191;
        }
        .safe_a{
          font-size: 14px;
          color: #6b6b6b;
          padding-left: 40px;
        }
      }
      .am-g.active{
        .safe_i{
          i{
            background: url("../images/yes.png") no-repeat center center;
          }
          p{
            color: $blue;
          }
        }
      }
    }
    .line {
      display: inline-block;
      width: 1px;
      height: 70px;
      background-color: #ddd;
      text-align: left;
    }
    a.button.active {
      padding: 0;
      font-size: 16px;
      width: 140px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 4px;
    }
  }
}