@charset "utf-8";
/* CSS Document */

body .contbar{
	padding-top:46px;
}
.con_logo_list{
	padding:0;
	margin: 0;
	width: 100%;
	background: #333;
}

.con_logo_list li{
	float:left;
	width: 175px;
	height: 175px;
	border: 1px solid #dddddd;
	margin-left: 30px;
	margin-top: 24px;
	overflow: hidden;
	transition: box-shadow 1s;
}

.con_logo_list li:nth-of-type(1),li:nth-of-type(7){
    margin-left:0;
}

.con_logo_list li:hover{
	box-shadow: 5px 5px 70px #ddd,
		        -5px 5px 70px #ddd,
		        5px -5px 70px #ddd,
		        -5px -5px 70px #ddd;
}
  
.con_logo_list li img{
	width:175px;
	height: 175px;
	margin: 0;
/*
	-webkit-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;	
*/
}

/*
.con_logo_list li img:hover{
	opacity: 0.3;
	flter:alpha(opacity=30);
}
*/

.con_logo_list li a{
	outline:none;
	width: 175px;
	height: 175px;
	background: #999;
	display: block;
}


body .con_heading{
	background:#999;
	height: 100px;
}

.links{
	margin-top: 60px;
	border-bottom: 2px;
}
.links p{
	font-size:22px;
	color:#4891fe;
	float: left;
	border-bottom: 2px;
}
.links a{
	font-size:14px;
	color: #686868;
	float: right;
	margin-top: 14px;
	outline: none;
}

.cont_heading{
	height: 60px;
	margin-top: 30px;
}
.cont_heading p{
	font-size:26px;
	font-family: 'SourceHanSansCN Medium';
	color:#4891fe;
	margin: auto;
	text-align: center;
	line-height: 60px;
	
}
.cont_heading p i{
	width: 104px;
	height: 2px;
	background: #4891fe;
	display: inline-block;
	line-height: 26px;
	margin: 0 12px 8px 12px;
	opacity: 0.7;
	filter: alpha(Opacity=70);
}

.container .show_btn{
	display:block;
	width: 382px;
	height: 50px;
	border: 1px solid #3788ff;
	border-radius: 4px;
	color:#3788ff;
	font:400 20px 'Microsoft YaHei';
	line-height: 50px;
	text-align: center;
	margin: 50px auto;
	transition: background 1s, color 1s;
}

.container .show_btn:hover{
	background:#3788ff;
	color: #ffffff;
}


/*brandlist*/
.con_left{
	width:890px;
	min-height: 300px;
	float: left;
}

.con_right{
	width: 260px;
	min-height: 300px;
	float: right;
}

.con_right a{
	margin-bottom:25px;
	outline: none;
	display: block;
	width:260px;
	height: 260px;
	background: #999;
}

.con_right a img{
	width:260px;
	height: 260px;
	transition:  1s;
}
.con_right a img:hover{
    opacity:0.5;
	filter: alpha(opacity=50);
} 

.con_left .menu{
	border:1px solid #dddddd;
	font-size:14px;
}

.con_left .menu li{
	display:inline-block;
	height: 40px;
	line-height: 40px;
}

.con_left .menu li.active{
	background:#ebf3ff;
	width: 50px;
}

.con_left .menu li.active a{
	color:#3788ff;
}

.con_left .menu li a.active{
	padding:5px 10px;
	color: #ffffff;
	background: #3788ff;
	border-radius: 4px;
}

.con_left .menu li a:hover{
	color: #ffffff;
	background: #3788ff;
	border-radius: 4px;
}

.con_left .menu li a{
	padding:5px 10px;
	color:#919191;
	outline: none;
}

.con_left .menu ul:nth-of-type(2) li a{
	padding:5px 7px;
}


.con_left .brand{
	border:1px solid #dddddd;
	min-height: 100px;
	margin-top: 20px;
	padding: 16px;
}
.con_left .brand p{
	font-size: 14px;
	color: #515151;
	text-indent: 2em;
	margin-top: 20px;
}
.con_left .brand .brand_head{
	width:844px;
	border-bottom: 1px dashed #dddddd;
	min-height: 50px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.con_left .brand .brand_head .logo{
	width: 100px;
	float: left;
}
.con_left .brand .brand_head .heading{
	float: left;
}

.con_left .brand .brand_head .heading a{
	display: block;
	outline: none;
	font-size:22px;
	color:#515151;
	font-weight: 400;
	margin-top: 10px;
}

.con_left .brand .brand_head .heading span{
    font-size: 12px;
	color: #515151;
}

.con_left .brand .brand_head .heading span:nth-of-type(2){
	margin-left: 80px;
}

.con_left .brand .brand_head .heading span:nth-of-type(2) i{
	display: inline-block;
	background: url(../images/rzs.png);
	width: 15px;
	height: 18px;
	margin-right: 5px;
	position: relative;
	top: 5px;
}
body .clear_container{
	padding-top: 0; 
}

body .breadcrumb ul li{
	font-size: 14px;
    display: inline-block;
	color:#919191;
	height: 40px;
	line-height: 40px;
}
body .breadcrumb ul li a.blue{
	color:#3788ff;
}

