a, b, body, dd, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, img, label, li, ol, p, span, strong, u, ul, input {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
img {
	border: 0;
	vertical-align: middle;
}
input, button, img {
	border: 0;
	outline: 0;
}
i {
	font-style: normal;
}
b {
	font-weight: normal;
}
a, s, u {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
 *zoom: 1;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
button, html input[type=button], input[type=submit] {
	-webkit-apperance: button;
	cursor: pointer;
}
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 color: #999999;
 font-size: 12px;
}
 input:-moz-placeholder, textarea:-moz-placeholder {
 color: #999999;
 font-size: 12px;
}
 input::-moz-placeholder, textarea::-moz-placeholder {
 color: #999999;
 font-size: 12px;
}
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
 color: #999999;
 font-size: 12px;
}
a:link {
	color: #999999;
}
a:visited {
	color: #999999;
}
.w1200, .container {
	width: 1200px;
	margin: 0 auto;
}
a.button {
	display: inline-block;
	padding: 6px 16px;
	border-radius: 3px;
	border: 1px solid #3788ff;
	cursor: pointer;
	font-size: 12px;
}
a.button:hover, a.button.active {
	background-color: #3788ff;
	color: #fff;
}
.setcenter {
	width: 1220px;
	margin-left: -10px;
}
.am-tabs-d2 .am-tabs-nav {
	background-color: transparent;
}
.blue {
	color: #3788ff;
}
.red {
	color: #fd3737;
}
.fontcolor {
	color: #515151;
}
.bgblue {
	background-color: #3788ff;
}
.border {
	border: solid 1px #e8e8e8;
}
.table {
	border: solid 1px #ddd;
	font-size: 14px;
}
.table table {
	margin-bottom: 0;
}
.table thead {
	font-size: 16px;
}
.am-tabs-default .am-tabs-nav > .am-active a {
	background-color: #3788ff;
}
body {
	font-family: "Microsoft Yahei";
}
body .nav-container {
	background: #333333;
	height: 31px;
	line-height: 30px;
}
body .nav-container .nav {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	width: 1200px;
	margin: 0 auto;
	color: #999999;
	box-sizing: border-box;
}
body .nav-container .nav a:hover {
	color: #fff;
}
body .nav-container .nav .app {
	display: inline-block;
	height: 30px;
}
body .nav-container .nav .app i {
	display: inline-block;
	width: 21px;
	height: 30px;
	background: url(../images/wechat.png) no-repeat center;
	margin-right: 10px;
}
body .nav-container .nav .app a {
	vertical-align: top;
}
body .nav-container .nav .personal-info {
	float: right;
}
body .nav-container .nav .personal-info li {
	display: inline-block;
}
body .nav-container .nav .personal-info .my-info {
	position: relative;
}
body .nav-container .nav .personal-info .my-info .downlist {
	display: none;
	position: absolute;
	z-index: 10;
	width: 80px;
	right: 0;
	background: #333333;
}
body .nav-container .nav .personal-info .my-info .downlist .mydownlist {
	font-size: 14px;
	text-align: center;
	display: block;
	width: 80px;
	height: 30px;
}
body .nav-container .nav .personal-info .my-info .downlist .mydownlist:hover {
	color: #fff;
	background: #474747;
}
body .nav-container .nav .personal-info .my-info:hover .downlist {
	display: block;
}
body .header {
	height: 75px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #e5e5e5;
}
body .header .header-container {
	width: 1200px;
	margin: 0 auto;
	height: 75px;
	vertical-align: middle;
}
body .header .header-container .location {
	height: 75px;
	width: 500px;
	overflow: hidden;
}
body .header .header-container .location a {
	display: inline-block;
}
body .header .header-container .location a .logo {
	margin-top: 5px;
}
body .header .header-container .location .current-location {
	display: inline-block;
	font-size: 18px;
	color: #333333;
	height: 40px;
	margin-left: 15px;
	margin-bottom: 3px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 10px;
	border-left: 1px solid #e8e8e8;
	vertical-align: bottom;
}
body .header .header-container .location .change-location {
	display: inline-block;
	font-size: 12px;
	vertical-align: bottom;
	margin-bottom: 14px;
}
body .header .header-container .main-nav {
	display: inline-block;
	margin-left: 46px;
}
body .header .header-container .main-nav .nav-list {
	display: inline-block;
	margin-right: 36px;
	float: left;
	height: 75px;
}
body .header .header-container .main-nav .nav-list a {
	font-size: 20px;
	text-align: center;
	display: inline-block;
	line-height: 75px;
	width: 50px;
	height: 75px;
}
body .header .header-container .main-nav .nav-list a:hover {
	border-bottom: 2px solid #3788ff;
}
body .search-container {
	background: #EAF0F4;
	padding-top: 32px;
	padding-bottom: 24px;
	text-align: center;
}
body .search-container .search-wrapper {
	display: inline-block;
	position: relative;
}
body .search-container .search-wrapper .search {
	text-indent: 1em;
	font-size: 18px;
	display: inline-block;
	height: 46px;
	width: 796px;
	vertical-align: middle;
	border: 1px solid #e5e5e5;
}
body .search-container .search-wrapper .search:focus {
	border: 1px solid #3788ff;
	outline: none;
}
body .search-container .search-wrapper .search-tips {
	text-align: left;
	display: none;
	position: absolute;
	z-index: 20;
	width: 796px;
	left: 0px;
	top: 48px;
	background: white;
}
body .search-container .search-wrapper .search-tips .search-list span {
	text-indent: 1em;
	display: inline-block;
	color: #5d5d5d;
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
}
body .search-container .search-wrapper .search-tips .search-list .guess-list {
	text-indent: 1em;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
body .search-container .search-wrapper .search-tips .search-list .guess-list:hover {
	cursor: pointer;
	background: #3788ff;
}
body .search-container .search-wrapper button {
	vertical-align: middle;
	display: inline-block;
	width: 142px;
	height: 46px;
	line-height: 46px;
	background: #3788ff;
	border: none;
	color: white;
	font-size: 20px;
	margin-left: -5px;
}
body .search-container .search-wrapper .search-hot {
	text-align: left;
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: #5d5d5d;
}
body .search-container .search-wrapper .search-hot a {
	display: inline-block;
	font-size: 14px;
	margin-left: 20px;
}
body .search-container .search-wrapper .search-hot a:visited {
	color: #3788ff;
}
body .search-container .search-wrapper .search-hot a:hover {
	text-decoration: underline;
}
body .footer {
	padding-top: 10px;
}
body .footer .footer-link {
	font-size: 16px;
	color: #999999;
}
body .footer .footer-link img {
	margin-top: -10px;
}
body .footer .footer-link a {
	display: inline-block;
	margin-left: 30px;
}
body .footer p {
	font-size: 12px;
	color: grey;
	margin-top: 20px;
	margin-bottom: 80px;
}
body .tool {
	position: fixed;
	right: 50px;
	bottom: 100px;
	z-index: 999;
}
body .tool .back-to-top {
	display: none;
	width: 34px;
	height: 54px;
	background: url("../images/backtotop.png") no-repeat;
	margin-bottom: 20px;
}
body .tool .back-to-top a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
body .tool .back-to-top:hover {
	background: url("../images/backtotop_blue.png");
}
body .tool .feedback {
	background: url("../images/feedback.png") no-repeat;
	width: 36px;
	height: 36px;
}
body .tool .feedback a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
body .tool .feedback:hover {
	background: url("../images/feedback_blue.png");
}
body .login {
	width: 100%;
	height: 105px;
	background: url("../images/login.png");
	position: fixed;
	bottom: 0;
	z-index: 999;
}
body .login a {
	padding: 7px 30px;
}
body .login .btn1 {
	position: fixed;
	bottom: 10px;
	right: 320px;
	border: 1px solid #fff;
}
body .login .btn2 {
	position: fixed;
	bottom: 10px;
	right: 200px;
	background-color: #fff;
	color: #3788ff;
	border: 1px solid #fff;
}
body .container .link {
	height: 46px;
	border-bottom: 1px solid #e6e6e6;
}
body .container .link p {
	width: 80px;
	height: 46px;
	font-size: 20px;
	line-height: 46px;
	border-bottom: 2px solid #3788ff;
}
body .container .link p:hover {
	cursor: pointer;
}
body .container .link-list {
	float: left;
	width: 1000px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 20px;
	overflow: hidden;
}
body .container .link-list a {
	display: inline-block;
	font-size: 16px;
	margin: 8px;
}
body .container .link-list a:hover {
	color: #3788ff;
	text-decoration: underline;
}
body .container .morelink {
	float: right;
	margin-top: 20px;
	color: #5d5d5d;
	height: 20px;
	line-height: 20px;
}
body .container .morelink:hover {
	cursor: pointer;
}
body .header {
	border-bottom: 0;
}
body .header .header-center {
	display: inline-block;
	font-size: 24px;
	color: #3788ff;
	margin-left: 20px;
	margin-top: 5px;
	vertical-align: bottom;
}
body .container {
	margin-top: 40px;
}
body .container .center_menu {
	float: left;
	width: 198px;
	border: 1px solid #e8e8e8;
	text-align: center;
}
body .container .center_menu .photo {
	padding-top: 30px;
	padding-bottom: 30px;
}
body .container .center_menu .photo p {
	margin-top: 10px;
}
body .container .center_menu li a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	width: 100%;
	border-top: 1px solid #e8e8e8;
}
body .container .center_menu li a s {
	display: inline-block;
	width: 7px;
	height: 11px;
	background: url("../images/arr_r_sm.png");
	margin-left: 30px;
}
body .container .center_menu li:hover s {
	background: url("../images/arr_r_sm_a.png");
}
/*
body .container .center_menu li:nth-of-type(1) i {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-right: 20px;
	background: url("../images/center1.png") no-repeat;
}
body .container .center_menu li:nth-of-type(1):hover a {
	background: #3788ff;
	color: #fff;
}
body .container .center_menu li:nth-of-type(1):hover a i {
	background: url("../images/center1_a.png") no-repeat;
}
body .container .center_menu li:nth-of-type(2) i {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-right: 20px;
	background: url("../images/center2.png") no-repeat;
}
body .container .center_menu li:nth-of-type(2):hover a {
	background: #3788ff;
	color: #fff;
}
body .container .center_menu li:nth-of-type(2):hover a i {
	background: url("../images/center2_a.png") no-repeat;
}
body .container .center_menu li:nth-of-type(3) i {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-right: 20px;
	background: url("../images/center3.png") no-repeat;
}
body .container .center_menu li:nth-of-type(3):hover a {
	background: #3788ff;
	color: #fff;
}
body .container .center_menu li:nth-of-type(3):hover a i {
	background: url("../images/center3_a.png") no-repeat;
}
body .container .center_menu li:nth-of-type(4) i {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-right: 20px;
	background: url("../images/center4.png") no-repeat;
}
body .container .center_menu li:nth-of-type(4):hover a {
	background: #3788ff;
	color: #fff;
}
body .container .center_menu li:nth-of-type(4):hover a i {
	background: url("../images/center4_a.png") no-repeat;
}
body .container .center_menu li:nth-of-type(5) i {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-right: 20px;
	background: url("../images/center5.png") no-repeat;
}
body .container .center_menu li:nth-of-type(5):hover a {
	background: #3788ff;
	color: #fff;
}
body .container .center_menu li:nth-of-type(5):hover a i {
	background: url("../images/center5_a.png") no-repeat;
}
body .container .center_menu li:nth-of-type(6) i {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-right: 20px;
	background: url("../images/center6.png") no-repeat;
}
body .container .center_menu li:nth-of-type(6):hover a {
	background: #3788ff;
	color: #fff;
}
body .container .center_menu li:nth-of-type(6):hover a i {
	background: url("../images/center6_a.png") no-repeat;
}
body .container .center_menu li:nth-of-type(7) i {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-right: 20px;
	background: url("../images/center7.png") no-repeat;
}
body .container .center_menu li:nth-of-type(7):hover a {
	background: #3788ff;
	color: #fff;
}
body .container .center_menu li:nth-of-type(7):hover a i {
	background: url("../images/center7_a.png") no-repeat;
}
body .container .center_menu li:nth-of-type(8) i {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-right: 20px;
	background: url("../images/center8.png") no-repeat;
}
body .container .center_menu li:nth-of-type(8):hover a {
	background: #3788ff;
	color: #fff;
}
body .container .center_menu li:nth-of-type(8):hover a i {
	background: url("../images/center8_a.png") no-repeat;
}
*/
body .container .center_menu li:nth-of-type(1) i {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background: url("../images/center1.png") no-repeat; }
    body .container .center_menu li:nth-of-type(1):hover a {
      background: #3788ff;
      color: #fff; }
      body .container .center_menu li:nth-of-type(1):hover a i {
        background: url("../images/center1_a.png") no-repeat; }
    body .container .center_menu li:nth-of-type(2) i {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background: url("../images/center3.png") no-repeat; }
    body .container .center_menu li:nth-of-type(2):hover a {
      background: #3788ff;
      color: #fff; }
      body .container .center_menu li:nth-of-type(2):hover a i {
        background: url("../images/center3_a.png") no-repeat; }
    body .container .center_menu li:nth-of-type(3) i {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background: url("../images/center4.png") no-repeat; }
    body .container .center_menu li:nth-of-type(3):hover a {
      background: #3788ff;
      color: #fff; }
      body .container .center_menu li:nth-of-type(3):hover a i {
        background: url("../images/center4_a.png") no-repeat; }
    body .container .center_menu li:nth-of-type(4) i {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background: url("../images/center2_a.png") center no-repeat; }
    body .container .center_menu li:nth-of-type(4):hover a {
      background: #3788ff;
      color: #fff; }
      body .container .center_menu li:nth-of-type(4):hover a i {
        background: url("../images/center2.png") center no-repeat; }
    body .container .center_menu li:nth-of-type(5) i {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background: url("../images/center8.png") no-repeat; }
    body .container .center_menu li:nth-of-type(5):hover a {
      background: #3788ff;
      color: #fff; }
      body .container .center_menu li:nth-of-type(5):hover a i {
        background: url("../images/center8_a.png") no-repeat; }
    body .container .center_menu li:nth-of-type(6) i {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background: url("../images/center9.png") no-repeat; }
    body .container .center_menu li:nth-of-type(6):hover a {
      background: #3788ff;
      color: #fff; }
      body .container .center_menu li:nth-of-type(6):hover a i {
        background: url("../images/center9_a.png") no-repeat; }
    body .container .center_menu li:nth-of-type(7) i {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      background: url("../images/center6.png") no-repeat; }
    body .container .center_menu li:nth-of-type(7):hover a {
      background: #3788ff;
      color: #fff; }
      body .container .center_menu li:nth-of-type(7):hover a i {
        background: url("../images/center6_a.png") no-repeat; }




body .container .center_main {
	border: 1px solid #e8e8e8;
	margin-left: 197px;
	min-height: 1000px;
}
.container .center_main {
	padding: 60px;
}
.container .center_main h4 {
	font-size: 24px;
	color: #3788ff;
	margin-bottom: 20px;
	font-weight: normal;
}
.container .center_main p {
	padding-left: 20px;
}
.container .center_main p span {
	display: inline-block;
	width: 500px;
	margin-bottom: 20px;
	color: #515151;
}
.container .center_main p span b {
	color: #6b6b6b;
}
.container .center_main p a {
	font-size: 14px;
}
.container .center_main p a:hover {
	color: #3788ff;
}
.container .center_main .table th {
	background-color: #f2f2f2;
	font-weight: normal;
	font-size: 16px;
	color: #515151;
	line-height: 32px;
	border-bottom: 0;
}
.container .center_main .table td {
	font-size: 14px;
	color: #919191;
	line-height: 40px;
}
.container .center_main .table .active td {
	color: #515151;
}
.container .center_main .tc, .container .center_main .money {
	padding-bottom: 60px;
	padding-top: 60px;
	border-bottom: 1px solid #e8e8e8;
}
.container .center_main .tc > h4, .container .center_main .money > h4 {
	float: left;
}
.container .center_main .tc .am-g, .container .center_main .money .am-g {
	padding-left: 100px;
	text-align: center;
}
.container .center_main .tc .am-g p, .container .center_main .money .am-g p {
	padding-left: 0;
}
.container .center_main .tc .am-g .p1, .container .center_main .money .am-g .p1 {
	font-size: 18px;
	color: #515151;
	margin-bottom: 20px;
}
.container .center_main .tc .am-g .p2, .container .center_main .money .am-g .p2 {
	font-size: 14px;
	color: #919191;
}
.container .center_main .tc .am-g a, .container .center_main .money .am-g a {
	margin-top: 14px;
}
.container .center_main .money {
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}
.container .center_main .money > h4 {
	display: inline-block;
	padding-right: 42px;
	background-color: #fff;
	position: absolute;
	top: 186px;
}
.container .center_main .money .money_web {
	padding-top: 60px;
	padding-bottom: 60px;
}
.container .center_main .money .money_web a:first-of-type {
	margin-top: -10px;
}
.container .center_main .money .money_web .title_sm {
	font-size: 18px;
	color: #3788ff;
}
.container .center_main .money .money_web:first-of-type {
	border-bottom: 1px solid #e8e8e8;
}
.container .center_main .safe {
	padding-top: 60px;
	padding-bottom: 60px;
}
.container .center_main .safe .am-g {
	padding-top: 35px;
	padding-bottom: 35px;
	border-bottom: 1px dashed #ddd;
}
.container .center_main .safe .am-g .am-u-md-2 {
	padding-top: 10px;
}
.container .center_main .safe .am-g .safe_i {
	text-align: center;
	padding-top: 0;
}
.container .center_main .safe .am-g .safe_i i {
	display: inline-block;
	width: 34px;
	height: 28px;
	background: url("../images/no.png") no-repeat center center;
}
.container .center_main .safe .am-g .safe_p {
	font-size: 20px;
	color: #3c3c3c;
}
.container .center_main .safe .am-g .safe_msg {
	font-size: 14px;
	color: #919191;
}
.container .center_main .safe .am-g .safe_a {
	font-size: 14px;
	color: #6b6b6b;
}
.container .center_main .safe .am-g.active .safe_i i {
	background: url("../images/yes.png") no-repeat center center;
}
.container .center_main .safe .am-g.active .safe_i p {
	color: #3788ff;
}
.container .center_main .line {
	display: inline-block;
	width: 1px;
	height: 70px;
	background-color: #ddd;
	text-align: left;
}
.container .center_main a.button.active {
	padding: 0;
	font-size: 16px;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
}
/*# sourceMappingURL=center_set.css.map */
/*弹出层*/
.conter-s {
	position: relative;
}
.setsite {
	width: 618px;
	z-index: 50;
	position: absolute;
	left: 190px;
	top: 200px;
	border: 1px solid #dddddd;
	background: #ffffff;
	overflow: hidden;
}
.setsite-inputbox {
	width: 500px;
	height: 46px;
	margin: 20px auto 0px auto;
}
.input-box {
	width: 398px;
	height: 44px;
	border: 1px solid #dddddd;
	float: right;
}
.input-label {
	display: block;
	float: left;
	font-size: 1.6rem;
	color: #515151;
	line-height: 44px;
	font-weight: 400;
}
.setsite-inputbox-active {
	margin: 50px auto 10px auto;
}
.setsite-inputbox-xx {
	height: 120px;
}
.textarea-box {
	height: 118px;
}
.savebtn {
	width: 200px;
	height: 46px;
	background: #919191;
	display: block;
	color: #ffffff;
	text-align: center;
	line-height: 46px;
	border-radius: 4px;
	margin: auto;
}
.ppp {
	color: #ffffff;
	text-align: center;
}
.setsite-btnbox {
	margin: 50px auto;
}
.input-labels {
	line-height: 118px;
}
.deletop {
	margin: 0 auto 50px auto;
}
/*主文本字体*/
.moreline {
	font-size: 1.4rem;
	color: #919191;
	line-height: 1.4rem;
}
.margin {
	margin: 10px auto 0 auto;
}
input{ text-indent: 10px;}
